$light: hsl(0, 0, 100%);
$dark: hsl(0, 0%, 20%);
$primary: hsl(218, 80%, 50%);
$secondary: hsl(0, 0%, 50%);
$success: hsl(120, 100%, 35%);
$warning: hsl(50, 100%, 50%);
$danger: hsl(0, 100%, 50%);
$info: hsl(180, 100%, 50%);