/* https://cdn.jsdelivr.net/gh/M6Irinel/Framkcss@main/Framkcss.css */

/* RESET */
* {box-sizing: border-box; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif;}
.fluid-img img, .fluid-video video, .w-100, .w-100-H:hover {width: 100%;}

/* w-auto */
.w-auto, .w-auto-H:hover {width: auto;}

/* w-num = width */
.w-5, .w-5-H:hover {width: 5%;}
.w-10, .w-10-H:hover {width: 10%;}
.w-15, .w-15-H:hover {width: 15%;}
.w-20, .w-20-H:hover {width: 20%;}
.w-25, .w-25-H:hover {width: 25%;}
.w-30, .w-30-H:hover {width: 30%;}
.w-35, .w-35-H:hover {width: 35%;}
.w-40, .w-40-H:hover {width: 40%;}
.w-45, .w-45-H:hover {width: 45%;}
.w-50, .w-50-H:hover {width: 50%;}
.w-55, .w-55-H:hover {width: 55%;}
.w-60, .w-60-H:hover {width: 60%;}
.w-65, .w-65-H:hover {width: 65%;}
.w-70, .w-70-H:hover {width: 70%;}
.w-75, .w-75-H:hover {width: 75%;}
.w-80, .w-80-H:hover {width: 80%;}
.w-85, .w-85-H:hover {width: 85%;}
.w-90, .w-90-H:hover {width: 90%;}
.w-95, .w-95-H:hover {width: 95%;}

/* w-num_vw = width */
.w-5vw, .w-5vw-H:hover {width: 5vw;}
.w-10vw, .w-10vw-H:hover {width: 10vw;}
.w-15vw, .w-15vw-H:hover {width: 15vw;}
.w-20vw, .w-20vw-H:hover {width: 20vw;}
.w-25vw, .w-25vw-H:hover {width: 25vw;}
.w-30vw, .w-30vw-H:hover {width: 30vw;}
.w-35vw, .w-35vw-H:hover {width: 35vw;}
.w-40vw, .w-40vw-H:hover {width: 40vw;}
.w-45vw, .w-45vw-H:hover {width: 45vw;}
.w-50vw, .w-50vw-H:hover {width: 50vw;}
.w-55vw, .w-55vw-H:hover {width: 55vw;}
.w-60vw, .w-60vw-H:hover {width: 60vw;}
.w-65vw, .w-65vw-H:hover {width: 65vw;}
.w-70vw, .w-70vw-H:hover {width: 70vw;}
.w-75vw, .w-75vw-H:hover {width: 75vw;}
.w-80vw, .w-80vw-H:hover {width: 80vw;}
.w-85vw, .w-85vw-H:hover {width: 85vw;}
.w-90vw, .w-90vw-H:hover {width: 90vw;}
.w-95vw, .w-95vw-H:hover {width: 95vw;}
.w-100vw, .w-100vw-H:hover {width: 100vw;}

/* h-auto */
.h-auto, .h-auto-H:hover {height: auto;}

/* h-num = height */
.h-5, .h-5-H:hover {height: 5%;}
.h-10, .h-10-H:hover {height: 10%;}
.h-15, .h-15-H:hover {height: 15%;}
.h-20, .h-20-H:hover {height: 20%;}
.h-25, .h-25-H:hover {height: 25%;}
.h-30, .h-30-H:hover {height: 30%;}
.h-35, .h-35-H:hover {height: 35%;}
.h-40, .h-40-H:hover {height: 40%;}
.h-45, .h-45-H:hover {height: 45%;}
.h-50, .h-50-H:hover {height: 50%;}
.h-55, .h-55-H:hover {height: 55%;}
.h-60, .h-60-H:hover {height: 60%;}
.h-65, .h-65-H:hover {height: 65%;}
.h-70, .h-70-H:hover {height: 70%;}
.h-75, .h-75-H:hover {height: 75%;}
.h-80, .h-80-H:hover {height: 80%;}
.h-85, .h-85-H:hover {height: 85%;}
.h-90, .h-90-H:hover {height: 90%;}
.h-95, .h-95-H:hover {height: 95%;}
.h-100, .h-100-H:hover {height: 100%;}

/* h-num_vh = height */
.h-5vh, .h-5vh-H:hover {height: 5vh;}
.h-10vh, .h-10vh-H:hover {height: 10vh;}
.h-15vh, .h-15vh-H:hover {height: 15vh;}
.h-20vh, .h-20vh-H:hover {height: 20vh;}
.h-25vh, .h-25vh-H:hover {height: 25vh;}
.h-30vh, .h-30vh-H:hover {height: 30vh;}
.h-35vh, .h-35vh-H:hover {height: 35vh;}
.h-40vh, .h-40vh-H:hover {height: 40vh;}
.h-45vh, .h-45vh-H:hover {height: 45vh;}
.h-50vh, .h-50vh-H:hover {height: 50vh;}
.h-55vh, .h-55vh-H:hover {height: 55vh;}
.h-60vh, .h-60vh-H:hover {height: 60vh;}
.h-65vh, .h-65vh-H:hover {height: 65vh;}
.h-70vh, .h-70vh-H:hover {height: 70vh;}
.h-75vh, .h-75vh-H:hover {height: 75vh;}
.h-80vh, .h-80vh-H:hover {height: 80vh;}
.h-85vh, .h-85vh-H:hover {height: 85vh;}
.h-90vh, .h-90vh-H:hover {height: 90vh;}
.h-95vh, .h-95vh-H:hover {height: 95vh;}
.h-100vh, .h-100vh-H:hover {height: 100vh;}

/* display */
.block, .block-H:hover {display: block;}
.inline, .inline-H:hover {display: inline;}
.inline-block, .inline-block-H:hover {display: inline-block;}
.flex, .flex-H:hover {display: flex;}
.inline-flex, .inline-flex-H:hover {display: inline-flex;}
.grid, .grid-H:hover {display: grid;}
.table, .table-H:hover {display: table;}

/* color */
.white, .white-H:hover {color: #fff;}
.black, .black-H:hover {color: #000;}

/* gray-num-H:hover or grey-num-H:hover color pallet */
.gray-1, .gray-1-H:hover, .grey-1, .grey-1-H:hover {color: #e6e6e6;}
.gray-2, .gray-2-H:hover, .grey-2, .grey-2-H:hover {color: #cccccc;}
.gray-3, .gray-3-H:hover, .grey-3, .grey-3-H:hover {color: #b3b3b3;}
.gray-4, .gray-4-H:hover, .grey-4, .grey-4-H:hover {color: #999999;}
.gray-5, .gray-5-H:hover, .grey-5, .grey-5-H:hover {color: #808080;}
.gray-6, .gray-6-H:hover, .grey-6, .grey-6-H:hover {color: #666666;}
.gray-7, .gray-7-H:hover, .grey-7, .grey-7-H:hover {color: #4d4d4d;}
.gray-8, .gray-8-H:hover, .grey-8, .grey-8-H:hover {color: #333333;}
.gray-9, .gray-9-H:hover, .grey-9, .grey-9-H:hover {color: #1a1a1a;}

/* red-num color pallet */
.red-1, .red-1-H:hover {color: #ffcccc;}
.red-2, .red-2-H:hover {color: #ff9999;}
.red-3, .red-3-H:hover {color: #ff6666;}
.red-4, .red-4-H:hover {color: #ff3333;}
.red-5, .red-5-H:hover {color: #ff0000;}
.red-6, .red-6-H:hover {color: #cc0000;}
.red-7, .red-7-H:hover {color: #990000;}
.red-8, .red-8-H:hover {color: #660000;}
.red-9, .red-9-H:hover {color: #330000;}

/* blue-num color pallet */
.blue-1, .blue-1-H:hover {color: #ccccff;}
.blue-2, .blue-2-H:hover {color: #9999ff;}
.blue-3, .blue-3-H:hover {color: #6666ff;}
.blue-4, .blue-4-H:hover {color: #3333ff;}
.blue-5, .blue-5-H:hover {color: #0000ff;}
.blue-6, .blue-6-H:hover {color: #0000cc;}
.blue-7, .blue-7-H:hover {color: #000099;}
.blue-8, .blue-8-H:hover {color: #000066;}
.blue-9, .blue-9-H:hover {color: #000033;}

/* green-num color pallet */
.green-1, .green-1-H:hover {color: #ccffcc;}
.green-2, .green-2-H:hover {color: #99ff99;}
.green-3, .green-3-H:hover {color: #66ff66;}
.green-4, .green-4-H:hover {color: #33ff33;}
.green-5, .green-5-H:hover {color: #00ff00;}
.green-6, .green-6-H:hover {color: #00cc00;}
.green-7, .green-7-H:hover {color: #009900;}
.green-8, .green-8-H:hover {color: #006600;}
.green-9, .green-9-H:hover {color: #003300;}

/* yellow-num color pallet */
.yellow-1, .yellow-1-H:hover {color: #ffffcc;}
.yellow-2, .yellow-2-H:hover {color: #ffff99;}
.yellow-3, .yellow-3-H:hover {color: #ffff66;}
.yellow-4, .yellow-4-H:hover {color: #ffff33;}
.yellow-5, .yellow-5-H:hover {color: #ffff00;}
.yellow-6, .yellow-6-H:hover {color: #cccc00;}
.yellow-7, .yellow-7-H:hover {color: #999900;}
.yellow-8, .yellow-8-H:hover {color: #666600;}
.yellow-9, .yellow-9-H:hover {color: #333300;}

/* orange-num color pallet */
.orange-1, .orange-1-H:hover {color: #ffedcc;}
.orange-2, .orange-2-H:hover {color: #ffdb99;}
.orange-3, .orange-3-H:hover {color: #ffc966;}
.orange-4, .orange-4-H:hover {color: #ffb833;}
.orange-5, .orange-5-H:hover {color: #ffa600;}
.orange-6, .orange-6-H:hover {color: #cc8500;}
.orange-7, .orange-7-H:hover {color: #996300;}
.orange-8, .orange-8-H:hover {color: #664200;}
.orange-9, .orange-9-H:hover {color: #332100;}

/* violet-num color pallet */
.violet-1, .violet-1-H:hover {color: #ffccff;}
.violet-2, .violet-2-H:hover {color: #ff99ff;}
.violet-3, .violet-3-H:hover {color: #ff66ff;}
.violet-4, .violet-4-H:hover {color: #ff33ff;}
.violet-5, .violet-5-H:hover {color: #ff00ff;}
.violet-6, .violet-6-H:hover {color: #cc00cc;}
.violet-7, .violet-7-H:hover {color: #990099;}
.violet-8, .violet-8-H:hover {color: #660066;}
.violet-9, .violet-9-H:hover {color: #330033;}

/* azure-num color pallet */
.azure-1, .azure-1-H:hover {color: #ccffff;}
.azure-2, .azure-2-H:hover {color: #99ffff;}
.azure-3, .azure-3-H:hover {color: #66ffff;}
.azure-4, .azure-4-H:hover {color: #33ffff;}
.azure-5, .azure-5-H:hover {color: #00ffff;}
.azure-6, .azure-6-H:hover {color: #00cccc;}
.azure-7, .azure-7-H:hover {color: #009999;}
.azure-8, .azure-8-H:hover {color: #006666;}
.azure-9, .azure-9-H:hover {color: #003333;}

/* bg-color = background-color */
.bg-white, .bg-white-H:hover {background-color: #fff;}
.bg-black, .bg-black-H:hover {background-color: #000;}

/* bg-gray-num or bg-grey-num color pallet */
.bg-gray-1, .bg-gray-1-H:hover, .bg-grey-1, .bg-grey-1-H:hover {background-color: #e6e6e6;}
.bg-gray-2, .bg-gray-2-H:hover, .bg-grey-2, .bg-grey-2-H:hover {background-color: #cccccc;}
.bg-gray-3, .bg-gray-3-H:hover, .bg-grey-3, .bg-grey-3-H:hover {background-color: #b3b3b3;}
.bg-gray-4, .bg-gray-4-H:hover, .bg-grey-4, .bg-grey-4-H:hover {background-color: #999999;}
.bg-gray-5, .bg-gray-5-H:hover, .bg-grey-5, .bg-grey-5-H:hover {background-color: #808080;}
.bg-gray-6, .bg-gray-6-H:hover, .bg-grey-6, .bg-grey-6-H:hover {background-color: #666666;}
.bg-gray-7, .bg-gray-7-H:hover, .bg-grey-7, .bg-grey-7-H:hover {background-color: #4d4d4d;}
.bg-gray-8, .bg-gray-8-H:hover, .bg-grey-8, .bg-grey-8-H:hover {background-color: #333333;}
.bg-gray-9, .bg-gray-9-H:hover, .bg-grey-9, .bg-grey-9-H:hover {background-color: #1a1a1a;}

/* bg-red-num background-color pallet */
.bg-red-1, .bg-red-1-H:hover {background-color: #ffcccc;}
.bg-red-2, .bg-red-2-H:hover {background-color: #ff9999;}
.bg-red-3, .bg-red-3-H:hover {background-color: #ff6666;}
.bg-red-4, .bg-red-4-H:hover {background-color: #ff3333;}
.bg-red-5, .bg-red-5-H:hover {background-color: #ff0000;}
.bg-red-6, .bg-red-6-H:hover {background-color: #cc0000;}
.bg-red-7, .bg-red-7-H:hover {background-color: #990000;}
.bg-red-8, .bg-red-8-H:hover {background-color: #660000;}
.bg-red-9, .bg-red-9-H:hover {background-color: #330000;}

/* bg-blue-num background-color pallet */
.bg-blue-1, .bg-blue-1-H:hover {background-color: #ccccff;}
.bg-blue-2, .bg-blue-2-H:hover {background-color: #9999ff;}
.bg-blue-3, .bg-blue-3-H:hover {background-color: #6666ff;}
.bg-blue-4, .bg-blue-4-H:hover {background-color: #3333ff;}
.bg-blue-5, .bg-blue-5-H:hover {background-color: #0000ff;}
.bg-blue-6, .bg-blue-6-H:hover {background-color: #0000cc;}
.bg-blue-7, .bg-blue-7-H:hover {background-color: #000099;}
.bg-blue-8, .bg-blue-8-H:hover {background-color: #000066;}
.bg-blue-9, .bg-blue-9-H:hover {background-color: #000033;}

/* bg-green-num background-color pallet */
.bg-green-1, .bg-green-1-H:hover {background-color: #ccffcc;}
.bg-green-2, .bg-green-2-H:hover {background-color: #99ff99;}
.bg-green-3, .bg-green-3-H:hover {background-color: #66ff66;}
.bg-green-4, .bg-green-4-H:hover {background-color: #33ff33;}
.bg-green-5, .bg-green-5-H:hover {background-color: #00ff00;}
.bg-green-6, .bg-green-6-H:hover {background-color: #00cc00;}
.bg-green-7, .bg-green-7-H:hover {background-color: #009900;}
.bg-green-8, .bg-green-8-H:hover {background-color: #006600;}
.bg-green-9, .bg-green-9-H:hover {background-color: #003300;}

/* bg-text-yellow-num background-color pallet */
.bg-yellow-1, .bg-yellow-1-H:hover {background-color: #ffffcc;}
.bg-yellow-2, .bg-yellow-2-H:hover {background-color: #ffff99;}
.bg-yellow-3, .bg-yellow-3-H:hover {background-color: #ffff66;}
.bg-yellow-4, .bg-yellow-4-H:hover {background-color: #ffff33;}
.bg-yellow-5, .bg-yellow-5-H:hover {background-color: #ffff00;}
.bg-yellow-6, .bg-yellow-6-H:hover {background-color: #cccc00;}
.bg-yellow-7, .bg-yellow-7-H:hover {background-color: #999900;}
.bg-yellow-8, .bg-yellow-8-H:hover {background-color: #666600;}
.bg-yellow-9, .bg-yellow-9-H:hover {background-color: #333300;}

/* bg-orange-num background-color pallet */
.bg-orange-1, .bg-orange-1-H:hover {background-color: #ffedcc;}
.bg-orange-2, .bg-orange-2-H:hover {background-color: #ffdb99;}
.bg-orange-3, .bg-orange-3-H:hover {background-color: #ffc966;}
.bg-orange-4, .bg-orange-4-H:hover {background-color: #ffb833;}
.bg-orange-5, .bg-orange-5-H:hover {background-color: #ffa600;}
.bg-orange-6, .bg-orange-6-H:hover {background-color: #cc8500;}
.bg-orange-7, .bg-orange-7-H:hover {background-color: #996300;}
.bg-orange-8, .bg-orange-8-H:hover {background-color: #664200;}
.bg-orange-9, .bg-orange-9-H:hover {background-color: #332100;}

/* bg-violet-num background-color pallet */
.bg-violet-1, .bg-violet-1-H:hover {background-color: #ffccff;}
.bg-violet-2, .bg-violet-2-H:hover {background-color: #ff99ff;}
.bg-violet-3, .bg-violet-3-H:hover {background-color: #ff66ff;}
.bg-violet-4, .bg-violet-4-H:hover {background-color: #ff33ff;}
.bg-violet-5, .bg-violet-5-H:hover {background-color: #ff00ff;}
.bg-violet-6, .bg-violet-6-H:hover {background-color: #cc00cc;}
.bg-violet-7, .bg-violet-7-H:hover {background-color: #990099;}
.bg-violet-8, .bg-violet-8-H:hover {background-color: #660066;}
.bg-violet-9, .bg-violet-9-H:hover {background-color: #330033;}

/* bg-azure-num background-color pallet */
.bg-azure-1, .bg-azure-1-H:hover {background-color: #ccffff;}
.bg-azure-2, .bg-azure-2-H:hover {background-color: #99ffff;}
.bg-azure-3, .bg-azure-3-H:hover {background-color: #66ffff;}
.bg-azure-4, .bg-azure-4-H:hover {background-color: #33ffff;}
.bg-azure-5, .bg-azure-5-H:hover {background-color: #00ffff;}
.bg-azure-6, .bg-azure-6-H:hover {background-color: #00cccc;}
.bg-azure-7, .bg-azure-7-H:hover {background-color: #009999;}
.bg-azure-8, .bg-azure-8-H:hover {background-color: #006666;}
.bg-azure-9, .bg-azure-9-H:hover {background-color: #003333;}

/* p-num = padding */
.p-0, .p-0-H:hover {padding: 0;}
.p-1, .p-1-H:hover {padding: .25rem;}
.p-2, .p-2-H:hover {padding: .5rem;}
.p-3, .p-3-H:hover {padding: .75rem;}
.p-4, .p-4-H:hover {padding: 1rem;}
.p-5, .p-5-H:hover {padding: 1.25rem;}
.p-6, .p-6-H:hover {padding: 1.5rem;}
.p-7, .p-7-H:hover {padding: 1.75rem;}
.p-8, .p-8-H:hover {padding: 2rem;}
.p-9, .p-9-H:hover {padding: 2.25rem;}
.p-10, .p-10-H:hover {padding: 2.5rem;}
.p-11, .p-11-H:hover {padding: 2.75rem;}
.p-12, .p-12-H:hover {padding: 3rem;}

/* pl-num = padding-left */
.pl-0, .pl-0-H:hover {padding-left: 0;}
.pl-1, .pl-1-H:hover {padding-left: .25rem;}
.pl-2, .pl-2-H:hover {padding-left: .5rem;}
.pl-3, .pl-3-H:hover {padding-left: .75rem;}
.pl-4, .pl-4-H:hover {padding-left: 1rem;}
.pl-5, .pl-5-H:hover {padding-left: 1.25rem;}
.pl-6, .pl-6-H:hover {padding-left: 1.5rem;}
.pl-7, .pl-7-H:hover {padding-left: 1.75rem;}
.pl-8, .pl-8-H:hover {padding-left: 2rem;}
.pl-9, .pl-9-H:hover {padding-left: 2.25rem;}
.pl-10, .pl-10-H:hover {padding-left: 2.5rem;}
.pl-11, .pl-11-H:hover {padding-left: 2.75rem;}
.pl-12, .pl-12-H:hover {padding-left: 3rem;}

/* pr-num = padding-right */
.pr-0, .pr-0-H:hover {padding-right: 0;}
.pr-1, .pr-1-H:hover {padding-right: .25rem;}
.pr-2, .pr-2-H:hover {padding-right: .5rem;}
.pr-3, .pr-3-H:hover {padding-right: .75rem;}
.pr-4, .pr-4-H:hover {padding-right: 1rem;}
.pr-5, .pr-5-H:hover {padding-right: 1.25rem;}
.pr-6, .pr-6-H:hover {padding-right: 1.5rem;}
.pr-7, .pr-7-H:hover {padding-right: 1.75rem;}
.pr-8, .pr-8-H:hover {padding-right: 2rem;}
.pr-9, .pr-9-H:hover {padding-right: 2.25rem;}
.pr-10, .pr-10-H:hover {padding-right: 2.5rem;}
.pr-11, .pr-11-H:hover {padding-right: 2.75rem;}
.pr-12, .pr-12-H:hover {padding-right: 3rem;}

/* pt-num = padding-top */
.pt-0, .pt-0-H:hover {padding-top: 0;}
.pt-1, .pt-1-H:hover {padding-top: .25rem;}
.pt-2, .pt-2-H:hover {padding-top: .5rem;}
.pt-3, .pt-3-H:hover {padding-top: .75rem;}
.pt-4, .pt-4-H:hover {padding-top: 1rem;}
.pt-5, .pt-5-H:hover {padding-top: 1.25rem;}
.pt-6, .pt-6-H:hover {padding-top: 1.5rem;}
.pt-7, .pt-7-H:hover {padding-top: 1.75rem;}
.pt-8, .pt-8-H:hover {padding-top: 2rem;}
.pt-9, .pt-9-H:hover {padding-top: 2.25rem;}
.pt-10, .pt-10-H:hover {padding-top: 2.5rem;}
.pt-11, .pt-11-H:hover {padding-top: 2.75rem;}
.pt-12, .pt-12-H:hover {padding-top: 3rem;}

/* pb-num = padding-bottom */
.pb-0, .pb-0-H:hover {padding-bottom: 0;}
.pb-1, .pb-1-H:hover {padding-bottom: .25rem;}
.pb-2, .pb-2-H:hover {padding-bottom: .5rem;}
.pb-3, .pb-3-H:hover {padding-bottom: .75rem;}
.pb-4, .pb-4-H:hover {padding-bottom: 1rem;}
.pb-5, .pb-5-H:hover {padding-bottom: 1.25rem;}
.pb-6, .pb-6-H:hover {padding-bottom: 1.5rem;}
.pb-7, .pb-7-H:hover {padding-bottom: 1.75rem;}
.pb-8, .pb-8-H:hover {padding-bottom: 2rem;}
.pb-9, .pb-9-H:hover {padding-bottom: 2.25rem;}
.pb-10, .pb-10-H:hover {padding-bottom: 2.5rem;}
.pb-11, .pb-11-H:hover {padding-bottom: 2.75rem;}
.pb-12, .pb-12-H:hover {padding-bottom: 3rem;}

/* px-num = padding-left and padding-right */
.px-0, .px-0-H:hover {padding-left: 0; padding-right: 0;}
.px-1, .px-1-H:hover {padding-left: .25rem; padding-right: .25rem;}
.px-2, .px-2-H:hover {padding-left: .5rem; padding-right: .5;}
.px-3, .px-3-H:hover {padding-left: .75rem; padding-right: .75rem;}
.px-4, .px-4-H:hover {padding-left: 1rem; padding-right: 1rem;}
.px-5, .px-5-H:hover {padding-left: 1.25rem; padding-right: 1.25rem;}
.px-6, .px-6-H:hover {padding-left: 1.5rem; padding-right: 1.5;}
.px-7, .px-7-H:hover {padding-left: 1.75rem; padding-right: 1.75rem;}
.px-8, .px-8-H:hover {padding-left: 2rem; padding-right: 2rem;}
.px-9, .px-9-H:hover {padding-left: 2.25rem; padding-right: 2.25rem;}
.px-10, .px-10-H:hover {padding-left: 2.5rem; padding-right: 2.5rem;}
.px-11, .px-11-H:hover {padding-left: 2.75rem; padding-right: 2.75rem;}
.px-12, .px-12-H:hover {padding-left: 3rem; padding-right: 3rem;}

/* py-num = padding-top and padding-bottom */
.py-0, .py-0-H:hover {padding-top: 0; padding-bottom: 0;}
.py-1, .py-1-H:hover {padding-top: .25rem; padding-bottom: .25rem;}
.py-2, .py-2-H:hover {padding-top: .5rem; padding-bottom: .5;}
.py-3, .py-3-H:hover {padding-top: .75rem; padding-bottom: .75rem;}
.py-4, .py-4-H:hover {padding-top: 1rem; padding-bottom: 1rem;}
.py-5, .py-5-H:hover {padding-top: 1.25rem; padding-bottom: 1.25rem;}
.py-6, .py-6-H:hover {padding-top: 1.5rem; padding-bottom: 1.5;}
.py-7, .py-7-H:hover {padding-top: 1.75rem; padding-bottom: 1.75rem;}
.py-8, .py-8-H:hover {padding-top: 2rem; padding-bottom: 2rem;}
.py-9, .py-9-H:hover {padding-top: 2.25rem; padding-bottom: 2.25rem;}
.py-10, .py-10-H:hover {padding-top: 2.5rem; padding-bottom: 2.5rem;}
.py-11, .py-11-H:hover {padding-top: 2.75rem; padding-bottom: 2.75rem;}
.py-12, .py-12-H:hover {padding-top: 3rem; padding-bottom: 3rem;}

/* m-num = margin */
.m-0, .m-0-H:hover {margin: 0;}
.m-1, .m-1-H:hover {margin: .25rem;}
.m-2, .m-2-H:hover {margin: .5rem;}
.m-3, .m-3-H:hover {margin: .75rem;}
.m-4, .m-4-H:hover {margin: 1rem;}
.m-5, .m-5-H:hover {margin: 1.25rem;}
.m-6, .m-6-H:hover {margin: 1.5rem;}
.m-7, .m-7-H:hover {margin: 1.75rem;}
.m-8, .m-8-H:hover {margin: 2rem;}
.m-9, .m-9-H:hover {margin: 2.25rem;}
.m-10, .m-10-H:hover {margin: 2.5rem;}
.m-11, .m-11-H:hover {margin: 2.75rem;};
.m-12, .m-12-H:hover {margin: 3rem;}

/* ml-num = margin-left */
.ml-0, .ml-0-H:hover {margin-left: 0;}
.ml-1, .ml-1-H:hover {margin-left: .25rem;}
.ml-2, .ml-2-H:hover {margin-left: .5rem;}
.ml-3, .ml-3-H:hover {margin-left: .75rem;}
.ml-4, .ml-4-H:hover {margin-left: 1rem;}
.ml-5, .ml-5-H:hover {margin-left: 1.25rem;}
.ml-6, .ml-6-H:hover {margin-left: 1.5rem;}
.ml-7, .ml-7-H:hover {margin-left: 1.75rem;}
.ml-8, .ml-8-H:hover {margin-left: 2rem;}
.ml-9, .ml-9-H:hover {margin-left: 2.25rem;}
.ml-10, .ml-10-H:hover {margin-left: 2.5rem;}
.ml-11, .ml-11-H:hover {margin-left: 2.75rem;}
.ml-12, .ml-12-H:hover {margin-left: 3rem;}

/* mr-num = margin-right */
.mr-0, .mr-0-H:hover {margin-right: 0;}
.mr-1, .mr-1-H:hover {margin-right: .25rem;}
.mr-2, .mr-2-H:hover {margin-right: .5rem;}
.mr-3, .mr-3-H:hover {margin-right: .75rem;}
.mr-4, .mr-4-H:hover {margin-right: 1rem;}
.mr-5, .mr-5-H:hover {margin-right: 1.25rem;}
.mr-6, .mr-6-H:hover {margin-right: 1.5rem;}
.mr-7, .mr-7-H:hover {margin-right: 1.75rem;}
.mr-8, .mr-8-H:hover {margin-right: 2rem;}
.mr-9, .mr-9-H:hover {margin-right: 2.25rem;}
.mr-10, .mr-10-H:hover {margin-right: 2.5rem;}
.mr-11, .mr-11-H:hover {margin-right: 2.75rem;}
.mr-12, .mr-12-H:hover {margin-right: 3rem;}

/* mt-num = margin-top */
.mt-0, .mt-0-H:hover {margin-top: 0;}
.mt-1, .mt-1-H:hover {margin-top: .25rem;}
.mt-2, .mt-2-H:hover {margin-top: .5rem;}
.mt-3, .mt-3-H:hover {margin-top: .75rem;}
.mt-4, .mt-4-H:hover {margin-top: 1rem;}
.mt-5, .mt-5-H:hover {margin-top: 1.25rem;}
.mt-6, .mt-6-H:hover {margin-top: 1.5rem;}
.mt-7, .mt-7-H:hover {margin-top: 1.75rem;}
.mt-8, .mt-8-H:hover {margin-top: 2rem;}
.mt-9, .mt-9-H:hover {margin-top: 2.25rem;}
.mt-10, .mt-10-H:hover {margin-top: 2.5rem;}
.mt-11, .mt-11-H:hover {margin-top: 2.75rem;}
.mt-12, .mt-12-H:hover {margin-top: 3rem;}

/* mb-num = margin-bottom */
.mb-0, .mb-0-H:hover {margin-bottom: 0;}
.mb-1, .mb-1-H:hover {margin-bottom: .25rem;}
.mb-2, .mb-2-H:hover {margin-bottom: .5rem;}
.mb-3, .mb-3-H:hover {margin-bottom: .75rem;}
.mb-4, .mb-4-H:hover {margin-bottom: 1rem;}
.mb-5, .mb-5-H:hover {margin-bottom: 1.25rem;}
.mb-6, .mb-6-H:hover {margin-bottom: 1.5rem;}
.mb-7, .mb-7-H:hover {margin-bottom: 1.75rem;}
.mb-8, .mb-8-H:hover {margin-bottom: 2rem;}
.mb-9, .mb-9-H:hover {margin-bottom: 2.25rem;}
.mb-10, .mb-10-H:hover {margin-bottom: 2.5rem;}
.mb-11, .mb-11-H:hover {margin-bottom: 2.75rem;}
.mb-12, .mb-12-H:hover {margin-bottom: 3rem;}

/* mx-num = margin-left and margin-right */
.mx-0, .mx-0-H:hover {margin-left: 0; margin-right: 0;}
.mx-1, .mx-1-H:hover {margin-left: .25rem; margin-right: .25rem;}
.mx-2, .mx-2-H:hover {margin-left: .5rem; margin-right: .5;}
.mx-3, .mx-3-H:hover {margin-left: .75rem; margin-right: .75rem;}
.mx-4, .mx-4-H:hover {margin-left: 1rem; margin-right: 1rem;}
.mx-5, .mx-5-H:hover {margin-left: 1.25rem; margin-right: 1.25rem;}
.mx-6, .mx-6-H:hover {margin-left: 1.5rem; margin-right: 1.5;}
.mx-7, .mx-7-H:hover {margin-left: 1.75rem; margin-right: 1.75rem;}
.mx-8, .mx-8-H:hover {margin-left: 2rem; margin-right: 2rem;}
.mx-9, .mx-9-H:hover {margin-left: 2.25rem; margin-right: 2.25rem;}
.mx-10, .mx-10-H:hover {margin-left: 2.5rem; margin-right: 2.5rem;}
.mx-11, .mx-11-H:hover {margin-left: 2.75rem; margin-right: 2.75rem;}
.mx-12, .mx-12-H:hover {margin-left: 3rem; margin-right: 3rem;}

/* my-num = margin-top and margin-bottom */
.my-0, .my-0-H:hover {margin-top: 0; margin-bottom: 0;}
.my-1, .my-1-H:hover {margin-top: .25rem; margin-bottom: .25rem;}
.my-2, .my-2-H:hover {margin-top: .5rem; margin-bottom: .5;}
.my-3, .my-3-H:hover {margin-top: .75rem; margin-bottom: .75rem;}
.my-4, .my-4-H:hover {margin-top: 1rem; margin-bottom: 1rem;}
.my-5, .my-5-H:hover {margin-top: 1.25rem; margin-bottom: 1.25rem;}
.my-6, .my-6-H:hover {margin-top: 1.5rem; margin-bottom: 1.5;}
.my-7, .my-7-H:hover {margin-top: 1.75rem; margin-bottom: 1.75rem;}
.my-8, .my-8-H:hover {margin-top: 2rem; margin-bottom: 2rem;}
.my-9, .my-9-H:hover {margin-top: 2.25rem; margin-bottom: 2.25rem;}
.my-10, .my-10-H:hover {margin-top: 2.5rem; margin-bottom: 2.5rem;}
.my-11, .my-11-H:hover {margin-top: 2.75rem; margin-bottom: 2.75rem;}
.my-12, .my-12-H:hover {margin-top: 3rem; margin-bottom: 3rem;}

/* fs-name = font-size */
.fs-xx-small, .fs-xx-small-H:hover {font-size: xx-small;}
.fs-x-small, .fs-x-small-H:hover {font-size: x-small;}
.fs-smaller, .fs-smaller-H:hover {font-size: smaller;}
.fs-small, .fs-small-H:hover {font-size: small;}
.fs-medium, .fs-medium-H:hover {font-size: medium;}
.fs-large, .fs-large-H:hover {font-size: large;}
.fs-larger, .fs-larger-H:hover {font-size: larger;}
.fs-x-large, .fs-x-large-H:hover {font-size: x-large;}
.fs-xx-large, .fs-xx-large-H:hover {font-size: xx-large;}

/* fs.num = font-size */
.fs-1, .fs-1-H:hover {font-size: 0.5rem;}
.fs-2, .fs-2-H:hover {font-size: 0.75rem;}
.fs-3, .fs-3-H:hover {font-size: 1rem;}
.fs-4, .fs-4-H:hover {font-size: 1.25rem;}
.fs-5, .fs-5-H:hover {font-size: 1.5rem;}
.fs-6, .fs-6-H:hover {font-size: 1.75rem;}
.fs-7, .fs-7-H:hover {font-size: 2rem;}
.fs-8, .fs-8-H:hover {font-size: 2.25rem;}
.fs-9, .fs-9-H:hover {font-size: 2.5rem;}
.fs-10, .fs-10-H:hover {font-size: 2.75rem;}
.fs-11, .fs-11-H:hover {font-size: 3rem;}
.fs-12, .fs-12-H:hover {font-size: 3.25rem;}
.fs-13, .fs-13-H:hover {font-size: 3.5rem;}
.fs-14, .fs-14-H:hover {font-size: 3.75rem;}
.fs-15, .fs-15-H:hover {font-size: 4rem;}

/* fw-name-H:hover = font-weight */
.fw-bold, .bold, .fw-bold-H:hover, .bold-H:hover {font-weight: bold;}
.fw-bolder, .bolder, .fw-bolder-H:hover, .bolder-H:hover {font-weight: bolder;}
.fw-normal, .normal, .fw-normal-H:hover, .normal-H:hover {font-weight: normal;}
.fw-lighter, .lighter, .fw-lighter-H:hover, .lighter-H:hover {font-weight: lighter;}

/* fw-num = font-weight */
.fw-1 , .fw-1-H:hover {font-weight: 100;}
.fw-2 , .fw-2-H:hover {font-weight: 200;}
.fw-3 , .fw-3-H:hover {font-weight: 300;}
.fw-4 , .fw-4-H:hover {font-weight: 400;}
.fw-5 , .fw-5-H:hover {font-weight: 500;}
.fw-6 , .fw-6-H:hover {font-weight: 600;}
.fw-7 , .fw-7-H:hover {font-weight: 700;}
.fw-8 , .fw-8-H:hover {font-weight: 800;}
.fw-9 , .fw-9-H:hover {font-weight: 900;}

/* obj-fit = object-fit */
.obj-contain, .obj-contain-H:hover {width: 100%; height: 100%; object-fit: contain;}
.obj-cover, .obj-cover-H:hover {width: 100%; height: 100%; object-fit: cover;}
.obj-fill, .obj-fill-H:hover {width: 100%; height: 100%; object-fit: fill;}
.obj-none, .obj-none-H:hover {width: 100%; height: 100%; object-fit: none;}
.obj-scale-down, .obj-scale-down-H:hover {width: 100%; height: 100%; object-fit: scale-down;}

/* obj-pos = object-position */
.obj-top, .obj-top-H:hover {object-position: top;}
.obj-bottom, .obj-bottom-H:hover {object-position: bottom;}
.obj-left, .obj-left-H:hover {object-position: left;}
.obj-right, .obj-right-H:hover {object-position: right;}
.obj-top-right, .obj-top-right-H:hover {object-position: top right;}
.obj-top-left, .obj-top-left-H:hover {object-position: top left;}
.obj-bottom-right, .obj-bottom-right-H:hover {object-position: bottom right;}
.obj-bottom-left, .obj-bottom-left-H:hover {object-position: bottom left;}

/* position */
.relative, .relative-H:hover {position: relative;}
.absolute, .absolute-H:hover {position: absolute;}
.fixed, .fixed-H:hover {position: fixed;}
.sticky, .sticky-H:hover {position: sticky; position: -webkit-sticky;}

/* top-num */
.top, .top-H:hover {top: 0;}
.top-5, .top-5-H:hover {top: 5%;}
.top-10, .top-10-H:hover {top: 10%;}
.top-15, .top-15-H:hover {top: 15%;}
.top-20, .top-20-H:hover {top: 20%;}
.top-25, .top-25-H:hover {top: 25%;}
.top-30, .top-30-H:hover {top: 30%;}
.top-35, .top-35-H:hover {top: 35%;}
.top-40, .top-40-H:hover {top: 40%;}
.top-45, .top-45-H:hover {top: 45%;}
.top-50, .top-50-H:hover {top: 50%;}
.top-55, .top-55-H:hover {top: 55%;}
.top-60, .top-60-H:hover {top: 60%;}
.top-65, .top-65-H:hover {top: 65%;}
.top-70, .top-70-H:hover {top: 70%;}
.top-75, .top-75-H:hover {top: 75%;}
.top-80, .top-80-H:hover {top: 80%;}
.top-85, .top-85-H:hover {top: 85%;}
.top-90, .top-90-H:hover {top: 90%;}
.top-95, .top-95-H:hover {top: 95%;}
.top-100, .top-100-H:hover {top: 100%;}

/* bottom-num */
.bottom, .bottom-H:hover {bottom: 0;}
.bottom-5, .bottom-5-H:hover {bottom: 5%;}
.bottom-10, .bottom-10-H:hover {bottom: 10%;}
.bottom-15, .bottom-15-H:hover {bottom: 15%;}
.bottom-20, .bottom-20-H:hover {bottom: 20%;}
.bottom-25, .bottom-25-H:hover {bottom: 25%;}
.bottom-30, .bottom-30-H:hover {bottom: 30%;}
.bottom-35, .bottom-35-H:hover {bottom: 35%;}
.bottom-40, .bottom-40-H:hover {bottom: 40%;}
.bottom-45, .bottom-45-H:hover {bottom: 45%;}
.bottom-50, .bottom-50-H:hover {bottom: 50%;}
.bottom-55, .bottom-55-H:hover {bottom: 55%;}
.bottom-60, .bottom-60-H:hover {bottom: 60%;}
.bottom-65, .bottom-65-H:hover {bottom: 65%;}
.bottom-70, .bottom-70-H:hover {bottom: 70%;}
.bottom-75, .bottom-75-H:hover {bottom: 75%;}
.bottom-80, .bottom-80-H:hover {bottom: 80%;}
.bottom-85, .bottom-85-H:hover {bottom: 85%;}
.bottom-90, .bottom-90-H:hover {bottom: 90%;}
.bottom-95, .bottom-95-H:hover {bottom: 95%;}
.bottom-100, .bottom-100-H:hover {bottom: 100%;}

/* right-num */
.right, .right-H:hover {right: 0;}
.right-5, .right-5-H:hover {right: 5%;}
.right-10, .right-10-H:hover {right: 10%;}
.right-15, .right-15-H:hover {right: 15%;}
.right-20, .right-20-H:hover {right: 20%;}
.right-25, .right-25-H:hover {right: 25%;}
.right-30, .right-30-H:hover {right: 30%;}
.right-35, .right-35-H:hover {right: 35%;}
.right-40, .right-40-H:hover {right: 40%;}
.right-45, .right-45-H:hover {right: 45%;}
.right-50, .right-50-H:hover {right: 50%;}
.right-55, .right-55-H:hover {right: 55%;}
.right-60, .right-60-H:hover {right: 60%;}
.right-65, .right-65-H:hover {right: 65%;}
.right-70, .right-70-H:hover {right: 70%;}
.right-75, .right-75-H:hover {right: 75%;}
.right-80, .right-80-H:hover {right: 80%;}
.right-85, .right-85-H:hover {right: 85%;}
.right-90, .right-90-H:hover {right: 90%;}
.right-95, .right-95-H:hover {right: 95%;}
.right-100, .right-100-H:hover {right: 100%;}

/* left-num */
.left, .left-H:hover {left: 0;}
.left-5, .left-5-H:hover {left: 5%;}
.left-10, .left-10-H:hover {left: 10%;}
.left-15, .left-15-H:hover {left: 15%;}
.left-20, .left-20-H:hover {left: 20%;}
.left-25, .left-25-H:hover {left: 25%;}
.left-30, .left-30-H:hover {left: 30%;}
.left-35, .left-35-H:hover {left: 35%;}
.left-40, .left-40-H:hover {left: 40%;}
.left-45, .left-45-H:hover {left: 45%;}
.left-50, .left-50-H:hover {left: 50%;}
.left-55, .left-55-H:hover {left: 55%;}
.left-60, .left-60-H:hover {left: 60%;}
.left-65, .left-65-H:hover {left: 65%;}
.left-70, .left-70-H:hover {left: 70%;}
.left-75, .left-75-H:hover {left: 75%;}
.left-80, .left-80-H:hover {left: 80%;}
.left-85, .left-85-H:hover {left: 85%;}
.left-90, .left-90-H:hover {left: 90%;}
.left-95, .left-95-H:hover {left: 95%;}
.left-100, .left-100-H:hover {left: 100%;}

/* grayscale */
.grayscale, .grayscale-H:hover {filter: grayscale(1); -webkit-filter: grayscale(1);}

/* invert */
.invert, .invert-H:hover {filter: invert(1); -webkit-filter: invert(1);}

/* contrast */
.contrast, .contrast-H:hover {filter: contrast(1.25); -webkit-filter: contrast(1.25);}
.contrast-1, .contrast-1-H:hover {filter: contrast(1.5); -webkit-filter: contrast(1.5);}
.contrast-2, .contrast-2-H:hover {filter: contrast(1.75); -webkit-filter: contrast(1.75);}
.contrast-3, .contrast-3-H:hover {filter: contrast(2); -webkit-filter: contrast(2);}

/* blur */
.blur, .blur-H:hover {filter: blur(0.5px); -webkit-filter: blur(0.5px);}
.blur-1, .blur-1-H:hover {filter: blur(1px); -webkit-filter: blur(1px);}
.blur-2, .blur-2-H:hover {filter: blur(1.5px); -webkit-filter: blur(1.5px);}
.blur-3, .blur-3-H:hover {filter: blur(2px); -webkit-filter: blur(2px);}
.blur-4, .blur-4-H:hover {filter: blur(2.5px); -webkit-filter: blur(2.5px);}
.blur-5, .blur-5-H:hover {filter: blur(3px); -webkit-filter: blur(3px);}
.blur-6, .blur-6-H:hover {filter: blur(3.5px); -webkit-filter: blur(3.5px);}
.blur-7, .blur-7-H:hover {filter: blur(4px); -webkit-filter: blur(4px);}
.blur-8, .blur-8-H:hover {filter: blur(4.5px); -webkit-filter: blur(4.5px);}
.blur-9, .blur-9-H:hover {filter: blur(5px); -webkit-filter: blur(5px);}

/* brightness */
.brightness, .brightness-H:hover {filter: brightness(1.2); -webkit-filter: brightness(1.2);}
.brightness-1, .brightness-1-H:hover {filter: brightness(1.4); -webkit-filter: brightness(1.4);}
.brightness-2, .brightness-2-H:hover {filter: brightness(1.6); -webkit-filter: brightness(1.6);}
.brightness-3, .brightness-3-H:hover {filter: brightness(1.8); -webkit-filter: brightness(1.8);}
.brightness-4, .brightness-4-H:hover {filter: brightness(2); -webkit-filter: brightness(2);}
.brightness-5, .brightness-5-H:hover {filter: brightness(2.2); -webkit-filter: brightness(2.2);}
.brightness-6, .brightness-6-H:hover {filter: brightness(2.4); -webkit-filter: brightness(2.4);}
.brightness-7, .brightness-7-H:hover {filter: brightness(2.6); -webkit-filter: brightness(2.6);}
.brightness-8, .brightness-8-H:hover {filter: brightness(2.8); -webkit-filter: brightness(2.8);}
.brightness-9, .brightness-9-H:hover {filter: brightness(3); -webkit-filter: brightness(3);}

/* opacity */
.opacity-0, .opacity-0-H:hover {filter: opacity(0); -webkit-filter: opacity(0);}
.opacity-1, .opacity-1-H:hover {filter: opacity(0.1); -webkit-filter: opacity(0.1);}
.opacity-2, .opacity-2-H:hover {filter: opacity(0.2); -webkit-filter: opacity(0.2);}
.opacity-3, .opacity-3-H:hover {filter: opacity(0.3); -webkit-filter: opacity(0.3);}
.opacity-4, .opacity-4-H:hover {filter: opacity(0.4); -webkit-filter: opacity(0.4);}
.opacity-5, .opacity-5-H:hover {filter: opacity(0.5); -webkit-filter: opacity(0.5);}
.opacity-6, .opacity-6-H:hover {filter: opacity(0.6); -webkit-filter: opacity(0.6);}
.opacity-7, .opacity-7-H:hover {filter: opacity(0.7); -webkit-filter: opacity(0.7);}
.opacity-8, .opacity-8-H:hover {filter: opacity(0.8); -webkit-filter: opacity(0.8);}
.opacity-9, .opacity-9-H:hover {filter: opacity(0.9); -webkit-filter: opacity(0.9);}
.opacity, .opacity-H:hover {filter: opacity(1);}

/* t-name = text-position */
.t-center, .t-center-H:hover {text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;}
.t-end, .t-end-H:hover {text-align: end; -ms-text-align-last: end; -moz-text-align-last: end;}
.t-justyfy, .t-justyfy-H:hover {text-align: justify; -ms-text-align-last: justify; -moz-text-align-last: justify;}
.t-left, .t-left-H:hover {text-align: left; -ms-text-align-last: left; -moz-text-align-last: left;}
.t-right, .t-right-H:hover {text-align: right; -ms-text-align-last: right; -moz-text-align-last: right;}
.t-start, .t-start-H:hover {text-align: start; -ms-text-align-last: start; -moz-text-align-last: start;}

/* transition-all */
.transition-all, .transition-all-H:hover {transition: all; -o-transition: all; -moz-transition: all; -webkit-transition: all;}

/* duration-num = transition-duration */
.duration-1, .duration-1-H:hover {transition-duration: 0.1s; -o-transition-duration: 0.1s; -moz-transition-duration: 0.1s; -webkit-transition-duration: 0.1s;}
.duration-2, .duration-2-H:hover {transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -webkit-transition-duration: 0.2s;}
.duration-3, .duration-3-H:hover {transition-duration: 0.3s; -o-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
.duration-4, .duration-4-H:hover {transition-duration: 0.4s; -o-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s;}
.duration-5, .duration-5-H:hover {transition-duration: 0.5s; -o-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s;}
.duration-6, .duration-6-H:hover {transition-duration: 0.6s; -o-transition-duration: 0.6s; -moz-transition-duration: 0.6s; -webkit-transition-duration: 0.6s;}
.duration-7, .duration-7-H:hover {transition-duration: 0.7s; -o-transition-duration: 0.7s; -moz-transition-duration: 0.7s; -webkit-transition-duration: 0.7s;}
.duration-8, .duration-8-H:hover {transition-duration: 0.8s; -o-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -webkit-transition-duration: 0.8s;}
.duration-9, .duration-9-H:hover {transition-duration: 0.9s; -o-transition-duration: 0.9s; -moz-transition-duration: 0.9s; -webkit-transition-duration: 0.9s;}
.duration-1_0, .duration-1_0-H:hover {transition-duration: 1s; -o-transition-duration: 1s; -moz-transition-duration: 1s; -webkit-transition-duration: 1s;}
.duration-1_2, .duration-1_2-H:hover {transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -webkit-transition-duration: 0.2s;}
.duration-1_4, .duration-1_4-H:hover {transition-duration: 0.4s; -o-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s;}
.duration-1_6, .duration-1_6-H:hover {transition-duration: 0.6s; -o-transition-duration: 0.6s; -moz-transition-duration: 0.6s; -webkit-transition-duration: 0.6s;}
.duration-1_8, .duration-1_8-H:hover {transition-duration: 0.8s; -o-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -webkit-transition-duration: 0.8s;}
.duration-2, .duration-2-H:hover {transition-duration: 2s; -o-transition-duration: 2s; -moz-transition-duration: 2s; -webkit-transition-duration: 2s;}
.duration-2_2, .duration-2_2-H:hover {transition-duration: 0.2s; -o-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -webkit-transition-duration: 0.2s;}
.duration-2_4, .duration-2_4-H:hover {transition-duration: 0.4s; -o-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s;}
.duration-2_6, .duration-2_6-H:hover {transition-duration: 0.6s; -o-transition-duration: 0.6s; -moz-transition-duration: 0.6s; -webkit-transition-duration: 0.6s;}
.duration-2_8, .duration-2_8-H:hover {transition-duration: 0.8s; -o-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -webkit-transition-duration: 0.8s;}
.duration-3, .duration-3-H:hover {transition-duration: 3s; -o-transition-duration: 3s; -moz-transition-duration: 3s; -webkit-transition-duration: 3s;}

/* delay-num = transition-delay */
.delay-1, .delay-1-H:hover {transition-delay: 0.1s; -o-transition-delay: 0.1s; -moz-transition-delay: 0.1s; -webkit-transition-delay: 0.1s;}
.delay-2, .delay-2-H:hover {transition-delay: 0.2s; -o-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -webkit-transition-delay: 0.2s;}
.delay-3, .delay-3-H:hover {transition-delay: 0.3s; -o-transition-delay: 0.3s; -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s;}
.delay-4, .delay-4-H:hover {transition-delay: 0.4s; -o-transition-delay: 0.4s; -moz-transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
.delay-5, .delay-5-H:hover {transition-delay: 0.5s; -o-transition-delay: 0.5s; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s;}
.delay-6, .delay-6-H:hover {transition-delay: 0.6s; -o-transition-delay: 0.6s; -moz-transition-delay: 0.6s; -webkit-transition-delay: 0.6s;}
.delay-7, .delay-7-H:hover {transition-delay: 0.7s; -o-transition-delay: 0.7s; -moz-transition-delay: 0.7s; -webkit-transition-delay: 0.7s;}
.delay-8, .delay-8-H:hover {transition-delay: 0.8s; -o-transition-delay: 0.8s; -moz-transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
.delay-9, .delay-9-H:hover {transition-delay: 0.9s; -o-transition-delay: 0.9s; -moz-transition-delay: 0.9s; -webkit-transition-delay: 0.9s;}
.delay-1_0, .delay-1_0-H:hover {transition-delay: 1s; -o-transition-delay: 1s; -moz-transition-delay: 1s; -webkit-transition-delay: 1s;}
.delay-1_2, .delay-1_2-H:hover {transition-delay: 0.2s; -o-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -webkit-transition-delay: 0.2s;}
.delay-1_4, .delay-1_4-H:hover {transition-delay: 0.4s; -o-transition-delay: 0.4s; -moz-transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
.delay-1_6, .delay-1_6-H:hover {transition-delay: 0.6s; -o-transition-delay: 0.6s; -moz-transition-delay: 0.6s; -webkit-transition-delay: 0.6s;}
.delay-1_8, .delay-1_8-H:hover {transition-delay: 0.8s; -o-transition-delay: 0.8s; -moz-transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
.delay-2, .delay-2-H:hover {transition-delay: 2s; -o-transition-delay: 2s; -moz-transition-delay: 2s; -webkit-transition-delay: 2s;}
.delay-2_2, .delay-2_2-H:hover {transition-delay: 0.2s; -o-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -webkit-transition-delay: 0.2s;}
.delay-2_4, .delay-2_4-H:hover {transition-delay: 0.4s; -o-transition-delay: 0.4s; -moz-transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
.delay-2_6, .delay-2_6-H:hover {transition-delay: 0.6s; -o-transition-delay: 0.6s; -moz-transition-delay: 0.6s; -webkit-transition-delay: 0.6s;}
.delay-2_8, .delay-2_8-H:hover {transition-delay: 0.8s; -o-transition-delay: 0.8s; -moz-transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
.delay-3, .delay-3-H:hover {transition-delay: 3s; -o-transition-delay: 3s; -moz-transition-delay: 3s; -webkit-transition-delay: 3s;}

/* border */
.border, .border-H:hover {border: 1px solid currentColor;}
.border-1, .border-1-H:hover {border: 2px solid currentColor;}
.border-2, .border-2-H:hover {border: 3px solid currentColor;}
.border-3, .border-3-H:hover {border: 4px solid currentColor;}
.border-4, .border-4-H:hover {border: 5px solid currentColor;}
.border-5, .border-5-H:hover {border: 6px solid currentColor;}
.border-6, .border-6-H:hover {border: 7px solid currentColor;}
.border-8, .border-8-H:hover {border: 8px solid currentColor;}
.border-9, .border-9-H:hover {border: 9px solid currentColor;}
.border-10, .border-10-H:hover {border: 10px solid currentColor;}

/* border-t */
.border-t, .border-t-H:hover {border-top: 1px solid currentColor;}
.border-t-1, .border-t-1-H:hover {border-top: 2px solid currentColor;}
.border-t-2, .border-t-2-H:hover {border-top: 3px solid currentColor;}
.border-t-3, .border-t-3-H:hover {border-top: 4px solid currentColor;}
.border-t-4, .border-t-4-H:hover {border-top: 5px solid currentColor;}
.border-t-5, .border-t-5-H:hover {border-top: 6px solid currentColor;}
.border-t-6, .border-t-6-H:hover {border-top: 7px solid currentColor;}
.border-t-8, .border-t-8-H:hover {border-top: 8px solid currentColor;}
.border-t-9, .border-t-9-H:hover {border-top: 9px solid currentColor;}
.border-t-10, .border-t-10-H:hover {border-top: 10px solid currentColor;}

/* border-b */
.border-b, .border-b-H:hover {border-bottom: 1px solid currentColor;}
.border-b-1, .border-b-1-H:hover {border-bottom: 2px solid currentColor;}
.border-b-2, .border-b-2-H:hover {border-bottom: 3px solid currentColor;}
.border-b-3, .border-b-3-H:hover {border-bottom: 4px solid currentColor;}
.border-b-4, .border-b-4-H:hover {border-bottom: 5px solid currentColor;}
.border-b-5, .border-b-5-H:hover {border-bottom: 6px solid currentColor;}
.border-b-6, .border-b-6-H:hover {border-bottom: 7px solid currentColor;}
.border-b-8, .border-b-8-H:hover {border-bottom: 8px solid currentColor;}
.border-b-9, .border-b-9-H:hover {border-bottom: 9px solid currentColor;}
.border-b-10, .border-b-10-H:hover {border-bottom: 10px solid currentColor;}

/* border-r */
.border-r, .border-r-H:hover {border-right: 1px solid currentColor;}
.border-r-1, .border-r-1-H:hover {border-right: 2px solid currentColor;}
.border-r-2, .border-r-2-H:hover {border-right: 3px solid currentColor;}
.border-r-3, .border-r-3-H:hover {border-right: 4px solid currentColor;}
.border-r-4, .border-r-4-H:hover {border-right: 5px solid currentColor;}
.border-r-5, .border-r-5-H:hover {border-right: 6px solid currentColor;}
.border-r-6, .border-r-6-H:hover {border-right: 7px solid currentColor;}
.border-r-8, .border-r-8-H:hover {border-right: 8px solid currentColor;}
.border-r-9, .border-r-9-H:hover {border-right: 9px solid currentColor;}
.border-r-10, .border-r-10-H:hover {border-right: 10px solid currentColor;}

/* border-l */
.border-l, .border-l-H:hover {border-left: 1px solid currentColor;}
.border-l-1, .border-l-1-H:hover {border-left: 2px solid currentColor;}
.border-l-2, .border-l-2-H:hover {border-left: 3px solid currentColor;}
.border-l-3, .border-l-3-H:hover {border-left: 4px solid currentColor;}
.border-l-4, .border-l-4-H:hover {border-left: 5px solid currentColor;}
.border-l-5, .border-l-5-H:hover {border-left: 6px solid currentColor;}
.border-l-6, .border-l-6-H:hover {border-left: 7px solid currentColor;}
.border-l-8, .border-l-8-H:hover {border-left: 8px solid currentColor;}
.border-l-9, .border-l-9-H:hover {border-left: 9px solid currentColor;}
.border-l-10, .border-l-10-H:hover {border-left: 10px solid currentColor;}

/* rounded-full */
.rounded-full, .rounded-full-H:hover {border-radius: 10000px}

/* rounded-50 */
.rounded-circle, .rounded-50-H:hover {border-radius: 50%}

/* rounded = border-radius */
.rounded, .rounded-H:hover {border-radius: 2px}
.rounded-1, .rounded-1-H:hover {border-radius: 4px}
.rounded-2, .rounded-2-H:hover {border-radius: 6px}
.rounded-3, .rounded-3-H:hover {border-radius: 8px}
.rounded-4, .rounded-4-H:hover {border-radius: 10px}
.rounded-5, .rounded-5-H:hover {border-radius: 12px}
.rounded-6, .rounded-6-H:hover {border-radius: 14px}
.rounded-8, .rounded-8-H:hover {border-radius: 16px}
.rounded-9, .rounded-9-H:hover {border-radius: 18px}
.rounded-10, .rounded-10-H:hover {border-radius: 20px}
.rounded-11, .rounded-11-H:hover {border-radius: 22px}
.rounded-12, .rounded-12-H:hover {border-radius: 24px}
.rounded-13, .rounded-13-H:hover {border-radius: 26px}
.rounded-14, .rounded-14-H:hover {border-radius: 30px}
.rounded-15, .rounded-15-H:hover {border-radius: 32px}
.rounded-16, .rounded-16-H:hover {border-radius: 34px}
.rounded-18, .rounded-18-H:hover {border-radius: 36px}
.rounded-19, .rounded-19-H:hover {border-radius: 38px}
.rounded-20, .rounded-20-H:hover {border-radius: 40px}

/* rounded-tl = border-top-left-radius */
.rounded-tl, .rounded-tl-H:hover {border-top-left-radius: 2px}
.rounded-tl-1, .rounded-tl-1-H:hover {border-top-left-radius: 4px}
.rounded-tl-2, .rounded-tl-2-H:hover {border-top-left-radius: 6px}
.rounded-tl-3, .rounded-tl-3-H:hover {border-top-left-radius: 8px}
.rounded-tl-4, .rounded-tl-4-H:hover {border-top-left-radius: 10px}
.rounded-tl-5, .rounded-tl-5-H:hover {border-top-left-radius: 12px}
.rounded-tl-6, .rounded-tl-6-H:hover {border-top-left-radius: 14px}
.rounded-tl-8, .rounded-tl-8-H:hover {border-top-left-radius: 16px}
.rounded-tl-9, .rounded-tl-9-H:hover {border-top-left-radius: 18px}
.rounded-tl-10, .rounded-tl-10-H:hover {border-top-left-radius: 20px}
.rounded-tl-11, .rounded-tl-11-H:hover {border-top-left-radius: 22px}
.rounded-tl-12, .rounded-tl-12-H:hover {border-top-left-radius: 24px}
.rounded-tl-13, .rounded-tl-13-H:hover {border-top-left-radius: 26px}
.rounded-tl-14, .rounded-tl-14-H:hover {border-top-left-radius: 28px}
.rounded-tl-15, .rounded-tl-15-H:hover {border-top-left-radius: 30px}
.rounded-tl-16, .rounded-tl-16-H:hover {border-top-left-radius: 32px}
.rounded-tl-17, .rounded-tl-17-H:hover {border-top-left-radius: 34px}
.rounded-tl-18, .rounded-tl-18-H:hover {border-top-left-radius: 36px}
.rounded-tl-19, .rounded-tl-19-H:hover {border-top-left-radius: 38px}
.rounded-tl-20, .rounded-tl-20-H:hover {border-top-left-radius: 40px}

/* rounded-tr = border-top-right-radius */
.rounded-tr, .rounded-tr-H:hover {border-top-right-radius: 2px}
.rounded-tr-1, .rounded-tr-1-H:hover {border-top-right-radius: 4px}
.rounded-tr-2, .rounded-tr-2-H:hover {border-top-right-radius: 6px}
.rounded-tr-3, .rounded-tr-3-H:hover {border-top-right-radius: 8px}
.rounded-tr-4, .rounded-tr-4-H:hover {border-top-right-radius: 10px}
.rounded-tr-5, .rounded-tr-5-H:hover {border-top-right-radius: 12px}
.rounded-tr-6, .rounded-tr-6-H:hover {border-top-right-radius: 14px}
.rounded-tr-8, .rounded-tr-8-H:hover {border-top-right-radius: 16px}
.rounded-tr-9, .rounded-tr-9-H:hover {border-top-right-radius: 18px}
.rounded-tr-10, .rounded-tr-10-H:hover {border-top-right-radius: 20px}
.rounded-tr-11, .rounded-tr-11-H:hover {border-top-right-radius: 22px}
.rounded-tr-12, .rounded-tr-12-H:hover {border-top-right-radius: 24px}
.rounded-tr-13, .rounded-tr-13-H:hover {border-top-right-radius: 26px}
.rounded-tr-14, .rounded-tr-14-H:hover {border-top-right-radius: 28px}
.rounded-tr-15, .rounded-tr-15-H:hover {border-top-right-radius: 30px}
.rounded-tr-16, .rounded-tr-16-H:hover {border-top-right-radius: 32px}
.rounded-tr-17, .rounded-tr-17-H:hover {border-top-right-radius: 34px}
.rounded-tr-18, .rounded-tr-18-H:hover {border-top-right-radius: 36px}
.rounded-tr-19, .rounded-tr-19-H:hover {border-top-right-radius: 38px}
.rounded-tr-20, .rounded-tr-20-H:hover {border-top-right-radius: 40px}

/* rounded-bl = border-bottom-left-radius */
.rounded-bl, .rounded-bl-H:hover {border-bottom-left-radius: 2px}
.rounded-bl-1, .rounded-bl-1-H:hover {border-bottom-left-radius: 4px}
.rounded-bl-2, .rounded-bl-2-H:hover {border-bottom-left-radius: 6px}
.rounded-bl-3, .rounded-bl-3-H:hover {border-bottom-left-radius: 8px}
.rounded-bl-4, .rounded-bl-4-H:hover {border-bottom-left-radius: 10px}
.rounded-bl-5, .rounded-bl-5-H:hover {border-bottom-left-radius: 12px}
.rounded-bl-6, .rounded-bl-6-H:hover {border-bottom-left-radius: 14px}
.rounded-bl-8, .rounded-bl-8-H:hover {border-bottom-left-radius: 16px}
.rounded-bl-9, .rounded-bl-9-H:hover {border-bottom-left-radius: 18px}
.rounded-bl-10, .rounded-bl-10-H:hover {border-bottom-left-radius: 20px}
.rounded-bl-11, .rounded-bl-11-H:hover {border-bottom-left-radius: 22px}
.rounded-bl-12, .rounded-bl-12-H:hover {border-bottom-left-radius: 24px}
.rounded-bl-13, .rounded-bl-13-H:hover {border-bottom-left-radius: 26px}
.rounded-bl-14, .rounded-bl-14-H:hover {border-bottom-left-radius: 28px}
.rounded-bl-15, .rounded-bl-15-H:hover {border-bottom-left-radius: 30px}
.rounded-bl-16, .rounded-bl-16-H:hover {border-bottom-left-radius: 32px}
.rounded-bl-17, .rounded-bl-17-H:hover {border-bottom-left-radius: 34px}
.rounded-bl-18, .rounded-bl-18-H:hover {border-bottom-left-radius: 36px}
.rounded-bl-19, .rounded-bl-19-H:hover {border-bottom-left-radius: 38px}
.rounded-bl-20, .rounded-bl-20-H:hover {border-bottom-left-radius: 40px}

/* rounded-br = border-bottom-right-radius */
.rounded-br, .rounded-br-H:hover {border-bottom-right-radius: 2px}
.rounded-br-1, .rounded-br-1-H:hover {border-bottom-right-radius: 4px}
.rounded-br-2, .rounded-br-2-H:hover {border-bottom-right-radius: 6px}
.rounded-br-3, .rounded-br-3-H:hover {border-bottom-right-radius: 8px}
.rounded-br-4, .rounded-br-4-H:hover {border-bottom-right-radius: 10px}
.rounded-br-5, .rounded-br-5-H:hover {border-bottom-right-radius: 12px}
.rounded-br-6, .rounded-br-6-H:hover {border-bottom-right-radius: 14px}
.rounded-br-8, .rounded-br-8-H:hover {border-bottom-right-radius: 16px}
.rounded-br-9, .rounded-br-9-H:hover {border-bottom-right-radius: 18px}
.rounded-br-10, .rounded-br-10-H:hover {border-bottom-right-radius: 20px}
.rounded-br-11, .rounded-br-11-H:hover {border-bottom-right-radius: 22px}
.rounded-br-12, .rounded-br-12-H:hover {border-bottom-right-radius: 24px}
.rounded-br-13, .rounded-br-13-H:hover {border-bottom-right-radius: 26px}
.rounded-br-14, .rounded-br-14-H:hover {border-bottom-right-radius: 28px}
.rounded-br-15, .rounded-br-15-H:hover {border-bottom-right-radius: 30px}
.rounded-br-16, .rounded-br-16-H:hover {border-bottom-right-radius: 32px}
.rounded-br-17, .rounded-br-17-H:hover {border-bottom-right-radius: 34px}
.rounded-br-18, .rounded-br-18-H:hover {border-bottom-right-radius: 36px}
.rounded-br-19, .rounded-br-19-H:hover {border-bottom-right-radius: 38px}
.rounded-br-20, .rounded-br-20-H:hover {border-bottom-right-radius: 40px}